/**
 * @file
 * General Styles
 *
 * Sub-themes will probably want to override this file.
 * If used as a starter, perform all styling changes in this file.
 */

body {
  background: #FCFCFF;
  color: #222;
  font-size: 100%;
}

body, caption, th, td, legend, fieldset {
  font-family: Lucida Grande, Lucida Sans Unicode, clean, sans-serif;
}

input, textarea, select, option {
  font-family: Arial, Helvetica, clean, sans-serif;
}

#page {
  font-size: 0.8em;
  line-height: 1.5em;
}

#header {
  background: #0054A6;
  margin: 0;
  padding: 1em 8px 0.5em 4px;
}

a.hfcc-home {
  background: url("../images/hfc-white.svg") no-repeat 0 0 / 100px 80px;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding: 80px 0 0;
  width: 100px;
}

#name-and-slogan {
  float: right;
  text-align: right;
  vertical-align: top;
}

h1#site-name {
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 2.5em;
  font-style: italic;
  padding: 0 0 10px;
}

#site-name a {
  color: #FFF;
  text-decoration: none;
}

#navigation {
  margin: 0.5em 0 0;
}

#search-theme-form {
  margin: 0;
}

#search-theme-form label {
  display: none;
}

input#edit-search-theme-form-1 {
  background-image: url("../images/search.png") !important;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #555555;
  font-weight: bold;
  height: 18px;
  margin: 0;
  padding-left: 22px;
  width: 175px;
}

#search-theme-form .form-submit {
  display: none;
}

#search-theme-form .form-item input:focus {
  background: #ffd;
}

ul.primary-links {
  border-bottom: 1px solid #D0D0D0;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0 1em;
  padding: 0;
}

ul.primary-links li {
  display: inline-block;
  padding: 0.328em;
}

ul.primary-links li.active-trail {
  border-bottom: 3px solid #0054A6;
}

ul.primary-links a {
  color: #005DAA;
  font-weight: bold;
  text-decoration: none;
}

ul.primary-links .active-trail a {
  color: #333335;
}

ul.secondary-links {
}

ul.secondary-links li {
}

ul.secondary-links a {
  text-decoration: none;
}

ul.secondary-links a:hover {
}

#main {
  margin: 0 auto;
  width: 99%;
}

#section-main {
  margin-bottom: 1em;
}

#content {
}

#content-inner {
  padding: 0 0 1em;
}

.sidebar-left #content-inner {
  padding: 0 0 1em 0.75em;
}

.sidebar-right #content-inner {
  padding: 0 0.75em 1em 0;
}

.two-sidebars #content-inner {
  padding: 0 0.75em 1em;
}

#content-inner h2.title {
  font-size: 2em;
}

#fatfooter {
  background: #dedede;
  font-size: 0.9em;
  min-height: 150px;
}

#fatfooter .block {
  float: left;
  width: 24%;
}

#fatfooter .block-inner {
  padding: 10px;
}

#fatfooter h2.title {
  color: #333;
}

#fatfooter a {
  color: #464648;
  text-decoration: none;
}

#fatfooter a:hover {
  text-decoration: underline;
}

#fatfooter .block ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1em;
}

#fatfooter ul.menu li,
#fatfooter li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

#footer {
  color: #777;
  font-size: 8pt;
  padding: 1em 0 0;
  text-align: center;
}

#footer a {
  color: #777;
}

#block-hfcc_global-5 ul, #block-menu-menu-footer-links ul, ul.footer-links {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-hfcc_global-5 ul li, #block-menu-menu-footer-links ul li, ul.footer-links li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-hfcc_global-5 a, #block-menu-menu-footer-links a, ul.footer-links a {
  color: #444;
  text-decoration: underline;
}

/**
 * Theme sidebars.
 */

#sidebar-left {
  background-color: #FAFAFA;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  margin: 0 0 1.5em;
}

#sidebar-left .block-inner {
  margin: 0.5em 0;
  padding: 0 4px 1em;
}

#sidebar-left h2.title {
}

#sidebar-left  a {
/*  color: #395918; */
}

#sidebar-right {
}

#sidebar-right .block-inner {
  font-size: 12px;
  line-height: 1.12em;
  margin: 0.5em 0;
  padding: 0 0 1em 2px;
}

#sidebar-right h2.title {
}

.sidebar .block-menu ul {
  list-style: none outside none;
  margin-top: 1em;
  padding: 0 0 1em;
}

.sidebar .block-menu ul ul {
  border: none;
  padding: 0;
}

.sidebar .block-menu li.leaf,
.sidebar .block-menu li.collapsed,
.sidebar .block-menu li.expanded {
  padding: 0 0.3125em 0.3125em 0;
  display: block;
  font-weight: bold;
  list-style-image: none;
  list-style-type: none;
}

.sidebar .block-menu li.expanded {
  padding: 0.2em 0 0;
}

.sidebar .block-menu ul ul li.leaf {
  background: #fff;
}

.sidebar .block-menu .menu a {
  color: #0054A6;
  display: block;
  padding: 0.2em 0.5em;
}

.sidebar .block-menu .menu a:hover,
.sidebar .block-menu ul.menu ul.menu a:hover {
  color: #222;
  text-decoration: none;
}

.sidebar .block-menu ul.menu ul.menu a {
  color: #0054A6;
  display: block;
  font-weight: normal;
  padding: 0.2em 0.5em 0.1em 1em;
}

/**
 * Headings
 */

h1 {
  font-size: 2em;
  line-height: 1.3em;
  padding: 0 0 0.5em;
}

h2 {
  color: #444;
  font-size: 1.3em;
  line-height: normal;
  padding: 0.5em 0;
}

h3 {
  color: #0054A6;
  font-size: 1.2em;
  line-height: normal;
  padding: 1em 0 0.4em;
}

h4 {
  color: #444;
  font-size: 1.1em;
  line-height: normal;
  padding: 1em 0 0.25em;
}

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link, a:visited {
  color: #0054A6;
  text-decoration:none;
}

a:hover, a:active {
  color: #0054A6;
  text-decoration:underline;
}

/**
 * Carry-over from DWS2010 theme.
 * I am not sure where this was used, but need to use .floatright
 * from styless.css from now on.
 *
 * .float-right {
 *   float: right;
 * }
 */

/**
 * Front Page Theming.
 */

.block-yayb .block-inner {
  margin: 4px 4px 0;
}

/**
 * @see: http://www.hfcc.edu/admissions/resources/images/bullet_callout.gif
 */

.options-wrapper {
  margin: 5px 0 0;
  min-width: 756px;
  padding: 10px 0 20px;
}

.options-callout {
  float: left;
  width: 33.3%;
}

.options-callout-inner {
  margin: 0 3px 10px;
  padding: 5px 7px;
}

.options-callout h3 {
  color: #777;
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.5em;
  padding: 5px 7px;
  text-align: center;
}

.options-callout h3 em {
  font-style: normal;
  font-weight: bold;
}

.options-callout h4 {
  color: #777;
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.5em;
  padding: 0;
}

.options-callout ul.menu {
  padding: 0;
}

.options-callout ul.menu li {
  color: #555;
  font-weight: bold;
  list-style-image: url(../images/green-arrow.jpg);
  margin: 0 0 0 18px;
  padding: 0 0 10px 3px;
}

.options-callout li a {
  color: #555;
}

.options-callout li.learnmore {
  padding: 20px 0 10px;
}

.options-callout li.learnmore a {
  color: #EC8000;
}

.options-callout p.info {
  margin-left: 12px;
}

/* probably site-specific, but from where? */

div.field-field-page-image {
  float: right;
  padding: 0 0 0.5em 1em;
}

/* Edit links for views */

.edit-link {
  font-size: 10px;
  line-height: 1em;
  padding-left: 0.5em;
  text-transform: uppercase;
}

.edit-link a {
  color: #aaa;
  text-decoration: none;
}

.edit-link a:hover {
  color: #555;
  text-decoration: underline;
}

/**
 * Quick-and-dirty yellow box.
 * (Hint: Use on paragraphs)
 */

.yellowbox {
  background: #FF8;
  border: 1px solid #F88;
  padding: 0.5em 1em;
  text-align: center;
}

/**
 * Format links at the bottom of node displays.
 */

#content-area .node .links {
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
}

#content-area .node .links li {
  padding: 0 0.5em 0 0;
}

#content-area .node .links a {
  background: #ffa;
  border-radius: 3px;
    -moz-border-radius: 3px;
  color: #777;
  padding: 1px 4px;
  text-decoration: none;
}

#content-area .node .links a:hover {
  color: #555;
  text-decoration: underline;
}

/**
 * Hide deeply-nested views admin links.
 */
.node-teaser div.view div.views-admin-links {
  display: none;
}

